## Manipulando dados do Sqlserver com Python

In [ ]:
'''instale essas bibliotecas para que funcione corretamente'''
#conda install -c sqlalchemy
#conda install -c pymssql
#conda install -c conda-forge ipython-sql
#conda install -c conda-forge/label/cf201901 ipython-sql

In [2]:
import pandas
%load_ext sql
%config SqlMagic.autocommit = False

In [3]:
'''conectando no Database que fica numa Virtualbox'''
%sql mssql+pymssql://sa:123456789@192.168.0.22/enadeDB2?charset=utf8

'Connected: sa@enadeDB2'

In [7]:
'''executando a query'''
%sql select TOP 10 * from [dbo].[ENADE]

 * mssql+pymssql://sa:***@192.168.0.22/enadeDB2?charset=utf8
Done.

[('2011', '1100023', '18', 'M', '1', '2010', '', '1', '11', '', '', '', '', '', '', '', ''),
 ('2011', '1100023', '19', 'F', '1', '2009', '25.7', '1', '11', 'A', 'C', 'B', 'C', 'D', 'D', '11', ''),
 ('2011', '1100023', '19', 'M', '1', '2010', '38.1', '1', '11', 'B', 'C', 'B', 'C', 'E', 'D', '11', 'B'),
 ('2011', '1100023', '19', 'M', '1', '2010', '42.1', '1', '11', 'A', 'A', 'E', 'E', 'C', 'D', '11', 'C'),
 ('2011', '1100023', '20', 'F', '1', '2009', '16.5', '1', '11', 'A', 'C', 'D', 'C', 'C', 'A', '11', 'B'),
 ('2011', '1100023', '20', 'F', '1', '2009', '24.6', '1', '11', 'A', 'D', 'D', 'C', 'E', 'B', '11', 'B'),
 ('2011', '1100023', '20', 'F', '1', '2009', '28.2', '1', '11', 'A', 'A', 'C', 'E', 'A', 'E', '11', 'C'),
 ('2011', '1100023', '20', 'F', '1', '2009', '34.8', '1', '11', 'A', 'C', 'D', 'C', 'A', 'A', '11', 'B'),
 ('2011', '1100023', '20', 'F', '1', '2009', '39.9', '1', '11', 'B', 'A', 'C', 'C', 'A', 'B', '11', 'B'),
 ('2011', '1100023', '20', 'F', '1', '2009', '45.4', '1', '11', 'B', 'A', 'D', 'B', 'A', 'B', '11', 'A')]

In [8]:
'''criando um DataFrame com o resultado da consulta'''
df = %sql select TOP 10 * from [dbo].[ENADE]
df = pandas.DataFrame(df)
df

 * mssql+pymssql://sa:***@192.168.0.22/enadeDB2?charset=utf8
Done.

      0        1   2  3  4     5     6  7   8  9 10 11 12 13 14  15 16
0  2011  1100023  18  M  1  2010        1  11
1  2011  1100023  19  F  1  2009  25.7  1  11  A  C  B  C  D  D  11
2  2011  1100023  19  M  1  2010  38.1  1  11  B  C  B  C  E  D  11  B
3  2011  1100023  19  M  1  2010  42.1  1  11  A  A  E  E  C  D  11  C
4  2011  1100023  20  F  1  2009  16.5  1  11  A  C  D  C  C  A  11  B
5  2011  1100023  20  F  1  2009  24.6  1  11  A  D  D  C  E  B  11  B
6  2011  1100023  20  F  1  2009  28.2  1  11  A  A  C  E  A  E  11  C
7  2011  1100023  20  F  1  2009  34.8  1  11  A  C  D  C  A  A  11  B
8  2011  1100023  20  F  1  2009  39.9  1  11  B  A  C  C  A  B  11  B
9  2011  1100023  20  F  1  2009  45.4  1  11  B  A  D  B  A  B  11  A

In [20]:
%sql select NU_ANO AS Ano,NU_IDADE AS Idade, COUNT(*) Registros from [dbo].[ENADE] WHERE NU_IDADE < 100 group by NU_ANO,NU_IDADE order by Idade DESC

 * mssql+pymssql://sa:***@192.168.0.22/enadeDB2?charset=utf8
Done.

[('2012', '96', 1),
 ('2017', '95', 1),
 ('2017', '90', 1),
 ('2016', '89', 1),
 ('2015', '88', 1),
 ('2012', '87', 1),
 ('2017', '87', 1),
 ('2011', '86', 2),
 ('2012', '86', 3),
 ('2015', '86', 1),
 ('2016', '85', 2),
 ('2017', '85', 1),
 ('2015', '84', 1),
 ('2012', '84', 2),
 ('2017', '84', 1),
 ('2016', '84', 1),
 ('2012', '83', 1),
 ('2017', '83', 2),
 ('2016', '83', 1),
 ('2015', '83', 2),
 ('2017', '82', 1),
 ('2013', '82', 1),
 ('2012', '82', 2),
 ('2015', '82', 2),
 ('2014', '82', 1),
 ('2015', '81', 2),
 ('2015', '80', 1),
 ('2017', '80', 1),
 ('2013', '80', 1),
 ('2012', '80', 2),
 ('2014', '80', 1),
 ('2012', '79', 3),
 ('2015', '79', 6),
 ('2013', '79', 3),
 ('2011', '79', 2),
 ('2017', '79', 1),
 ('2015', '78', 4),
 ('2017', '78', 5),
 ('2014', '78', 3),
 ('2012', '78', 3),
 ('2011', '78', 3),
 ('2013', '78', 1),
 ('2015', '77', 6),
 ('2014', '77', 4),
 ('2012', '77', 6),
 ('2017', '77', 3),
 ('2011', '77', 3),
 ('2016', '77', 2),
 ('2015', '76', 5),
 ('2011', '76', 6),
 ('2012', '76', 13),
 ('2014', '76', 3),
 ('2017', '76', 6),
 ('2012', '75', 13),
 ('2015', '75', 12),
 ('2011', '75', 2),
 ('2017', '75', 8),
 ('2013', '75', 1),
 ('2016', '75', 4),
 ('2014', '75', 6),
 ('2012', '74', 16),
 ('2016', '74', 4),
 ('2013', '74', 7),
 ('2011', '74', 7),
 ('2015', '74', 15),
 ('2017', '74', 11),
 ('2014', '74', 6),
 ('2017', '73', 10),
 ('2015', '73', 19),
 ('2013', '73', 4),
 ('2012', '73', 17),
 ('2014', '73', 12),
 ('2016', '73', 3),
 ('2011', '73', 13),
 ('2013', '72', 4),
 ('2016', '72', 3),
 ('2015', '72', 25),
 ('2012', '72', 29),
 ('2011', '72', 14),
 ('2014', '72', 16),
 ('2017', '72', 15),
 ('2017', '71', 28),
 ('2015', '71', 31),
 ('2011', '71', 16),
 ('2013', '71', 3),
 ('2016', '71', 12),
 ('2014', '71', 14),
 ('2012', '71', 27),
 ('2014', '70', 27),
 ('2015', '70', 35),
 ('2011', '70', 18),
 ('2012', '70', 46),
 ('2013', '70', 9),
 ('2017', '70', 39),
 ('2016', '70', 9),
 ('2012', '69', 50),
 ('2016', '69', 11),
 ('2017', '69', 44),
 ('2015', '69', 57),
 ('2014', '69', 37),
 ('2011', '69', 30),
 ('2013', '69', 13),
 ('2014', '68', 44),
 ('2012', '68', 63),
 ('2016', '68', 19),
 ('2011', '68', 32),
 ('2017', '68', 66),
 ('2015', '68', 67),
 ('2013', '68', 18),
 ('2011', '67', 52),
 ('2016', '67', 20),
 ('2014', '67', 67),
 ('2013', '67', 12),
 ('2017', '67', 82),
 ('2012', '67', 74),
 ('2015', '67', 97),
 ('2013', '66', 23),
 ('2011', '66', 59),
 ('2015', '66', 125),
 ('2014', '66', 87),
 ('2012', '66', 93),
 ('2017', '66', 114),
 ('2016', '66', 27),
 ('2015', '65', 149),
 ('2014', '65', 133),
 ('2013', '65', 28),
 ('2017', '65', 139),
 ('2016', '65', 33),
 ('2012', '65', 121),
 ('2011', '65', 79),
 ('2013', '64', 42),
 ('2016', '64', 58),
 ('2015', '64', 167),
 ('2014', '64', 164),
 ('2012', '64', 172),
 ('2017', '64', 186),
 ('2011', '64', 112),
 ('2017', '63', 243),
 ('2015', '63', 218),
 ('2014', '63', 199),
 ('2013', '63', 58),
 ('2016', '63', 58),
 ('2011', '63', 154),
 ('2012', '63', 212),
 ('2015', '62', 293),
 ('2012', '62', 254),
 ('2011', '62', 190),
 ('2016', '62', 96),
 ('2014', '62', 275),
 ('2017', '62', 293),
 ('2013', '62', 76),
 ('2011', '61', 220),
 ('2017', '61', 362),
 ('2015', '61', 412),
 ('2013', '61', 87),
 ('2016', '61', 137),
 ('2012', '61', 337),
 ('2014', '61', 346),
 ('2015', '60', 464),
 ('2012', '60', 390),
 ('2013', '60', 129),
 ('2017', '60', 459),
 ('2014', '60', 396),
 ('2016', '60', 124),
 ('2011', '60', 305),
 ('2014', '59', 552),
 ('2015', '59', 582),
 ('2012', '59', 575),
 ('2013', '59', 144),
 ('2016', '59', 156),
 ('2017', '59', 567),
 ('2011', '59', 421),
 ('2011', '58', 479),
 ('2017', '58', 706),
 ('2015', '58', 684),
 ('2013', '58', 219),
 ('2016', '58', 236),
 ('2014', '58', 642),
 ('2012', '58', 626),
 ('2011', '57', 565),
 ('2013', '57', 246),
 ('2016', '57', 284),
 ('2014', '57', 825),
 ('2017', '57', 857),
 ('2015', '57', 814),
 ('2012', '57', 719),
 ('2012', '56', 952),
 ('2011', '56', 722),
 ('2013', '56', 347),
 ('2016', '56', 371),
 ('2015', '56', 936),
 ('2017', '56', 976),
 ('2014', '56', 978),
 ('2014', '55', 1163),
 ('2011', '55', 804),
 ('2015', '55', 1141),
 ('2016', '55', 388),
 ('2013', '55', 368),
 ('2017', '55', 1178),
 ('2012', '55', 1110),
 ('2016', '54', 461),
 ('2017', '54', 1504),
 ('2014', '54', 1459),
 ('2015', '54', 1235),
 ('2011', '54', 938),
 ('2013', '54', 415),
 ('2012', '54', 1254),
 ('2017', '53', 1619),
 ('2011', '53', 1104),
 ('2014', '53', 1622),
 ('2016', '53', 542),
 ('2013', '53', 501),
 ('2012', '53', 1525),
 ('2015', '53', 1490),
 ('2016', '52', 643),
 ('2017', '52', 1971),
 ('2013', '52', 567),
 ('2014', '52', 1923),
 ('2012', '52', 1743),
 ('2015', '52', 1715),
 ('2011', '52', 1304),
 ('2017', '51', 2069),
 ('2015', '51', 2023),
 ('2012', '51', 1904),
 ('2016', '51', 665),
 ('2013', '51', 650),
 ('2014', '51', 2368),
 ('2011', '51', 1511),
 ('2013', '50', 716),
 ('2016', '50', 776),
 ('2015', '50', 2358),
 ('2017', '50', 2306),
 ('2014', '50', 2625),
 ('2012', '50', 2313),
 ('2011', '50', 1680),
 ('2017', '49', 2581),
 ('2014', '49', 3034),
 ('2015', '49', 2441),
 ('2013', '49', 760),
 ('2016', '49', 832),
 ('2012', '49', 2711),
 ('2011', '49', 2071),
 ('2017', '48', 2967),
 ('2014', '48', 3216),
 ('2011', '48', 2332),
 ('2013', '48', 937),
 ('2012', '48', 3131),
 ('2016', '48', 961),
 ('2015', '48', 2816),
 ('2011', '47', 2745),
 ('2012', '47', 3446),
 ('2017', '47', 3232),
 ('2016', '47', 1099),
 ('2015', '47', 2937),
 ('2013', '47', 1077),
 ('2014', '47', 3626),
 ('2013', '46', 1185),
 ('2012', '46', 3665),
 ('2017', '46', 3703),
 ('2014', '46', 4052),
 ('2011', '46', 3079),
 ('2015', '46', 3268),
 ('2016', '46', 1197),
 ('2017', '45', 4400),
 ('2016', '45', 1363),
 ('2014', '45', 4305),
 ('2012', '45', 4028),
 ('2011', '45', 3102),
 ('2015', '45', 3625),
 ('2013', '45', 1237),
 ('2017', '44', 4748),
 ('2016', '44', 1500),
 ('2014', '44', 4725),
 ('2013', '44', 1352),
 ('2011', '44', 3385),
 ('2015', '44', 4122),
 ('2012', '44', 4383),
 ('2013', '43', 1468),
 ('2017', '43', 5175),
 ('2015', '43', 4548),
 ('2016', '43', 1737),
 ('2014', '43', 5250),
 ('2011', '43', 3671),
 ('2012', '43', 4846),
 ('2017', '42', 5741),
 ('2013', '42', 1722),
 ('2016', '42', 1845),
 ('2011', '42', 4062),
 ('2015', '42', 4902),
 ('2014', '42', 5947),
 ('2012', '42', 5324),
 ('2012', '41', 5984),
 ('2016', '41', 2126),
 ('2011', '41', 4419),
 ('2015', '41', 5522),
 ('2013', '41', 1830),
 ('2017', '41', 6370),
 ('2014', '41', 6208),
 ('2012', '40', 6548),
 ('2013', '40', 1954),
 ('2014', '40', 7018),
 ('2011', '40', 4756),
 ('2016', '40', 2307),
 ('2017', '40', 7170),
 ('2015', '40', 5968),
 ('2014', '39', 7512),
 ('2016', '39', 2700),
 ('2017', '39', 8059),
 ('2013', '39', 2246),
 ('2011', '39', 5295),
 ('2015', '39', 6751),
 ('2012', '39', 7094),
 ('2013', '38', 2334),
 ('2016', '38', 2910),
 ('2011', '38', 5426),
 ('2017', '38', 8967),
 ('2015', '38', 7807),
 ('2014', '38', 8171),
 ('2012', '38', 7885),
 ('2011', '37', 6144),
 ('2012', '37', 8499),
 ('2013', '37', 2634),
 ('2017', '37', 9586),
 ('2014', '37', 9028),
 ('2015', '37', 8499),
 ('2016', '37', 3410),
 ('2015', '36', 9830),
 ('2013', '36', 3001),
 ('2017', '36', 10996),
 ('2012', '36', 9534),
 ('2016', '36', 3613),
 ('2014', '36', 10057),
 ('2011', '36', 6672),
 ('2012', '35', 10885),
 ('2011', '35', 7276),
 ('2016', '35', 4380),
 ('2017', '35', 11823),
 ('2015', '35', 10713),
 ('2013', '35', 3302),
 ('2014', '35', 10905),
 ('2016', '34', 4664),
 ('2015', '34', 12439),
 ('2017', '34', 12035),
 ('2012', '34', 11963),
 ('2013', '34', 3788),
 ('2014', '34', 11592),
 ('2011', '34', 7986),
 ('2012', '33', 13713),
 ('2013', '33', 4097),
 ('2016', '33', 4984),
 ('2017', '33', 12537),
 ('2015', '33', 13630),
 ('2011', '33', 8965),
 ('2014', '33', 13022),
 ('2016', '32', 5151),
 ('2014', '32', 14026),
 ('2012', '32', 15047),
 ('2017', '32', 13824),
 ('2015', '32', 14212),
 ('2011', '32', 9750),
 ('2013', '32', 4891),
 ('2013', '31', 5342),
 ('2017', '31', 15277),
 ('2016', '31', 5896),
 ('2014', '31', 14292),
 ('2012', '31', 17535),
 ('2015', '31', 14979),
 ('2011', '31', 10699),
 ('2012', '30', 19570),
 ('2016', '30', 6504),
 ('2014', '30', 15130),
 ('2011', '30', 12587),
 ('2015', '30', 16936),
 ('2013', '30', 5573),
 ('2017', '30', 16417),
 ('2015', '29', 18782),
 ('2017', '29', 18778),
 ('2014', '29', 17118),
 ('2013', '29', 6101),
 ('2016', '29', 7480),
 ('2012', '29', 20717),
 ('2011', '29', 13913),
 ('2012', '28', 22491),
 ('2016', '28', 8805),
 ('2017', '28', 21364),
 ('2011', '28', 15087),
 ('2013', '28', 7359),
 ('2015', '28', 21265),
 ('2014', '28', 19212),
 ('2016', '27', 10425),
 ('2011', '27', 16325),
 ('2015', '27', 24428),
 ('2013', '27', 8906),
 ('2014', '27', 21733),
 ('2017', '27', 23957),
 ('2012', '27', 25845),
 ('2011', '26', 19518),
 ('2013', '26', 10968),
 ('2015', '26', 28457),
 ('2017', '26', 29934),
 ('2012', '26', 28911),
 ('2014', '26', 25427),
 ('2016', '26', 12702),
 ('2014', '25', 30677),
 ('2012', '25', 34361),
 ('2011', '25', 23451),
 ('2015', '25', 33050),
 ('2017', '25', 36504),
 ('2016', '25', 16832),
 ('2013', '25', 14612),
 ('2011', '24', 27982),
 ('2012', '24', 43714),
 ('2015', '24', 42417),
 ('2016', '24', 20974),
 ('2017', '24', 46015),
 ('2013', '24', 18364),
 ('2014', '24', 36682),
 ('2017', '23', 53541),
 ('2013', '23', 21078),
 ('2015', '23', 52123),
 ('2012', '23', 54766),
 ('2014', '23', 43144),
 ('2016', '23', 24568),
 ('2011', '23', 33305),
 ('2013', '22', 21440),
 ('2012', '22', 60541),
 ('2016', '22', 26104),
 ('2011', '22', 34274),
 ('2017', '22', 53314),
 ('2014', '22', 41006),
 ('2015', '22', 60054),
 ('2013', '21', 15429),
 ('2015', '21', 37580),
 ('2014', '21', 25325),
 ('2017', '21', 28569),
 ('2016', '21', 15914),
 ('2011', '21', 22445),
 ('2012', '21', 38695),
 ('2011', '20', 8301),
 ('2017', '20', 10365),
 ('2014', '20', 9743),
 ('2012', '20', 9919),
 ('2015', '20', 9802),
 ('2013', '20', 2975),
 ('2016', '20', 3245),
 ('2015', '19', 3811),
 ('2014', '19', 1175),
 ('2016', '19', 320),
 ('2012', '19', 4296),
 ('2011', '19', 1012),
 ('2013', '19', 402),
 ('2017', '19', 1094),
 ('2013', '18', 48),
 ('2016', '18', 32),
 ('2015', '18', 389),
 ('2012', '18', 419),
 ('2014', '18', 55),
 ('2011', '18', 73),
 ('2017', '18', 35),
 ('2015', '17', 7),
 ('2016', '17', 2),
 ('2017', '17', 2),
 ('2014', '17', 7),
 ('2011', '17', 6),
 ('2012', '17', 14),
 ('2013', '17', 2),
 ('2017', '16', 1),
 ('2014', '16', 1),
 ('2015', '16', 1),
 ('2011', '16', 1),
 ('2012', '14', 2),
 ('2017', '10', 1)]

In [24]:
df01 = %sql select NU_ANO AS Ano,NU_IDADE AS Idade, COUNT(*) Registros from [dbo].[ENADE] WHERE NU_IDADE < 100 group by NU_ANO,NU_IDADE order by Idade DESC
df01 = pandas.DataFrame(df01)
df01.columns = ['ano','idade','contagem']
df01.tail()

 * mssql+pymssql://sa:***@192.168.0.22/enadeDB2?charset=utf8
Done.

      ano idade  contagem
467  2014    16         1
468  2015    16         1
469  2011    16         1
470  2012    14         2
471  2017    10         1