## Manipulando dados do Sqlserver com Python

In [100]:
'''instale essas bibliotecas para que funcione corretamente'''
#conda install -c sqlalchemy
#conda install -c pymssql
#conda install -c conda-forge ipython-sql
#conda install -c conda-forge/label/cf201901 ipython-sql

'instale essas bibliotecas para que funcione corretamente'

In [159]:
import pandas
%load_ext sql
%config SqlMagic.autocommit = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [160]:
'''conectando no Database que fica numa Virtualbox'''
%sql mssql+pymssql://sa:11111@127.0.0.1/ContosoRetail?charset=utf8

'Connected: sa@ContosoRetail'

In [161]:
'''criando um DataFrame com o resultado da consulta'''
%%sql result_set <<  
SELECT dmt.SalesTerritoryName,fs.SalesAmountQuota 
FROM [ContosoRetail].[dbo].[DimStore] dims
left join DimSalesTerritory dmt on dmt.GeographyKey = dims.GeographyKey
left join FactSalesQuota fs on fs.StoreKey = dims.StoreKey
where fs.SalesAmountQuota > 100000
#limit = 2
#df = pandas.DataFrame(d)
#df.columns = ['SalesQuotaKey','ChannelKey','StoreKey',
#              'ProductKey','DateKey','CurrencyKey','ScenarioKey',
#              'SalesQuantityQuota','SalesAmountQuota','GrossMarginQuota','ETLLoadID','LoadDate','UpdateDate']
#df.to_csv("data.csv")
#df.head(5)

SyntaxError: invalid syntax (<ipython-input-161-b956c9862a6e>, line 3)

In [162]:
d.DataFrame()

0  2010  35998417680.75  151495713.00  20011170294.61

In [163]:
df.SalesQuantityQuota = df.SalesQuantityQuota.astype(float)
df.SalesAmountQuota = df.SalesAmountQuota.astype(float)
df.GrossMarginQuota = df.GrossMarginQuota.astype(float)
df.UpdateDate = df.UpdateDate.astype(str)

In [164]:
df.dtypes

SalesQuotaKey                  int64
ChannelKey                     int64
StoreKey                       int64
ProductKey                     int64
DateKey               datetime64[ns]
CurrencyKey                    int64
ScenarioKey                    int64
SalesQuantityQuota           float64
SalesAmountQuota             float64
GrossMarginQuota             float64
ETLLoadID                      int64
LoadDate              datetime64[ns]
UpdateDate                    object
dtype: object

In [165]:
dff = df[['UpdateDate','SalesQuantityQuota','SalesAmountQuota','GrossMarginQuota']]
dff.UpdateDate = dff.UpdateDate.str[:10]
dff

       UpdateDate  SalesQuantityQuota  SalesAmountQuota  GrossMarginQuota
0      2010-01-19                 8.0            769.92            162.10
1      2010-01-19                 8.0           2656.00           1434.56
2      2010-01-19                13.0             88.96             42.94
3      2010-01-19                10.0           1490.00            730.40
4      2010-01-19               104.0          10198.98           4897.06
...           ...                 ...               ...               ...
49995  2010-01-19                40.0           1760.00            862.80
49996  2010-01-19                12.0          10788.00           5826.96
49997  2010-01-19                 9.0           2450.32           1160.98
49998  2010-01-19                 6.0             73.82             34.22
49999  2010-01-19                12.0           7504.68           4976.04

[50000 rows x 4 columns]

In [110]:
dff['year'] = dff.UpdateDate.str[:4]
dff

C:\Users\atend\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,UpdateDate,SalesQuantityQuota,SalesAmountQuota,GrossMarginQuota,year
0,2010-01-19,8.0,769.92,162.10,2010
1,2010-01-19,8.0,2656.00,1434.56,2010
2,2010-01-19,13.0,88.96,42.94,2010
3,2010-01-19,10.0,1490.00,730.40,2010
4,2010-01-19,104.0,10198.98,4897.06,2010
...,...,...,...,...,...
49995,2010-01-19,40.0,1760.00,862.80,2010
49996,2010-01-19,12.0,10788.00,5826.96,2010
49997,2010-01-19,9.0,2450.32,1160.98,2010
49998,2010-01-19,6.0,73.82,34.22,2010
49999,2010-01-19,12.0,7504.68,4976.04,2010

In [112]:
dff.groupby(['year']).sum()

      SalesQuantityQuota  SalesAmountQuota  GrossMarginQuota
year
2010           1082999.0      2.502741e+08      1.384920e+08